# MySQL 9.7 LTS 学习用配置
[mysqld]
# 基础设置
default-storage-engine = InnoDB
max_connections = 200

# InnoDB
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M

# 日志
slow_query_log = 1
long_query_time = 1

# 时区
default-time-zone = '+08:00'

[client]
default-character-set = utf8mb4
